@model eBook.Models.BookSearchArg

@{
    ViewBag.Title = "圖書資訊";
}

<h2>圖書資訊查詢</h2>

@using (Html.BeginForm("Index", "Book", FormMethod.Post, new { id = "Form1" }))
{
    <div class="form-horizontal">

        @*<div class="form-group">
            @Html.LabelFor(model => model.BOOK_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_ID, new { @class = "form-control" })
            </div>
        </div>*@

        <!--書籍名稱-->
        <div class="form-group">
            @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BookName, new { @class = "form-control" })
            </div>
        </div>

        <!--圖書類別-->
        <div class="form-group">
            <label class="control-label col-md-2">圖書類別</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BookClassId, (List<SelectListItem>)ViewBag.BookClass, "請選擇", new { @class = "form-control" })
            </div>
        </div>
        
        <!--借閱人-->
        <div class="form-group">
            <label class="control-label col-md-2">借閱人</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BookKeeper, (List<SelectListItem>)ViewBag.KeeperClass, "請選擇", new { @class = "form-control" })
            </div>
        </div>

        <!--借閱狀態-->
        <div class="form-group">
            <label class="control-label col-md-2">借閱狀態</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BookStatus, (List<SelectListItem>)ViewBag.StatusClass, "請選擇", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="submit" value="查詢" class="btn btn-default"/>

                @Html.ActionLink("新增書籍", "InsertBook")<!--顯示 "新增書籍"超連結-->
                @Html.ActionLink("清除", "Index")
            </div>
        </div>


        @if (ViewBag.SearchResult != null)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>圖書類別</th>
                        <th>書名</th>
                        <th>購書日期</th>
                        <th>借閱狀態</th>
                        <th>借閱人</th>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<eBook.Models.Book>)ViewBag.SearchResult)
                    {
                        <tr id='@item.BOOK_ID'>
                            <td>@item.BOOK_CLASS_ID</td>
                            <td>@item.BOOK_NAME</td>
                            <td>@item.BOOK_BOUGHT_DATE</td>
                            <td>@item.BOOK_STATUS</td>
                            @if (item.BOOK_KEEPER.Equals("()"))
                            {
                                <td></td>
                            }
                            else
	                        {
                                <td>@item.BOOK_KEEPER</td>
	                        }
                            <td>修改</td>
                            @if (@item.BOOK_STATUS.Equals("可以借出") || @item.BOOK_STATUS.Equals("不可借出"))
                            {
                                <td>
                                    <a class="btnDelete" href="#">刪除</a>
                                    <input class="hidBookId" type="hidden" value='@item.BOOK_ID' />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btnDelete" href="#">刪除</a>
                                    <input class="hidBookId" type="hidden" value='No' />
                                </td>
                            }
                            @*<td>@Html.ActionLink("修改", "UpdateEmployee", new { id = item.EmployeeId })</td>
                            <td>
                                <a class="btnDelete" href="#" onclick="test(this,'@item.EmployeeId');">刪除</a>
                                <input class="hidEmployeeId" type="hidden" value='@item.EmployeeId' />
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <script>
        $(document).ready(function () {
            $('.btnDelete').click(function (e) {
                var value = $(this).next().val();
                if (value === "No") {
                    alert("已借出的書籍不可刪除!");
                }
                else
                {
                    var choose = confirm("是否刪除 ? ");
                    if (choose == true) {
                        var tr = $(this).closest('tr')
                        alert("value : " + $(this).next().val());
                        $.ajax({
                            type: "POST",
                            url: "/Book/DeleteBook",
                            data: "bookId=" + $(this).next().val(),
                            dataType: "json",
                            success: function (response) {
                                $(tr).remove();
                            }, error: function (error) {
                                alert("系統發生錯誤");
                            }
                        });
                        alert("刪除成功");
                    }
                }
            });
        });
        
    </script>
}

