@model eBook.Models.Book

@{
    ViewBag.Title = "UpdateBook";
}

<h2>UpdateBook</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.BOOK_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_ID , new { Value = @ViewBag.TheUpdateBook.BOOK_ID,@class = "form-control"  })
                @Html.ValidationMessageFor(model => model.BOOK_ID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <!--隱藏書籍ID-->
        @Html.TextBoxFor(model => model.BOOK_ID, new { Value = @ViewBag.TheUpdateBook.BOOK_ID, @class = "form-control", @type = "hidden" })
        
        <!--書籍名稱-->
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_NAME, new { Value = @ViewBag.TheUpdateBook.BOOK_NAME, @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.BOOK_NAME, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <!--書籍作者-->
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_AUTHOR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_AUTHOR, new { Value = @ViewBag.TheUpdateBook.BOOK_AUTHOR, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BOOK_AUTHOR, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--出版商-->
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_PUBLISHER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_PUBLISHER, new { Value = @ViewBag.TheUpdateBook.BOOK_PUBLISHER, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BOOK_PUBLISHER, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--內容簡介-->
        <script>
            $(document).ready(function () {
                $('#BOOK_NOTE').val('@ViewBag.TheUpdateBook.BOOK_NOTE');
            });
        </script>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_NOTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.BOOK_NOTE, new { Value = @ViewBag.TheUpdateBook.BOOK_NOTE, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BOOK_NOTE, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--購書日期-->
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_BOUGHT_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_BOUGHT_DATE, new { Value = @ViewBag.TheUpdateBook.BOOK_BOUGHT_DATE, @type = "Date", @style = "text-align:left", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BOOK_BOUGHT_DATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--圖書類別-->
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_CLASS_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BOOK_CLASS_ID, (List<SelectListItem>)ViewBag.BookClass,  new { Value = @ViewBag.TheUpdateBook.BOOK_CLASS_ID, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BOOK_CLASS_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--借閱狀態-->
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BOOK_STATUS, (List<SelectListItem>)ViewBag.StatusClass,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BOOK_STATUS, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--借閱人-->
            <script>
                $(document).ready(function () {
                    var FirstBookStatus = $("#BOOK_STATUS").val();
                    if (FirstBookStatus === "A" || FirstBookStatus === "U")
                    {
                        $("#hiddenKeeper").show();
                        $("#showKeeper").hide();
                    }
                    else {
                        $("#hiddenKeeper").hide();
                        $("#showKeeper").show();
                    }
                    $("#BOOK_STATUS").click(function (e) {
                        var BookStatus = $(this).val();
                        if (BookStatus === "A" || BookStatus === "U")
                        {
                            $("#hiddenKeeper").show();
                            $("#showKeeper").hide();
                        }
                        else
                        {
                            $("#hiddenKeeper").hide();
                            $("#showKeeper").show();
                        }
                    });
                    
                });
            </script>
            <div class="form-group" id="hiddenKeeper">
                @Html.LabelFor(model => model.BOOK_KEEPER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled/>
                </div>
            </div>

            <div class="form-group" id="showKeeper">
                @Html.LabelFor(model => model.BOOK_KEEPER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BOOK_KEEPER, (List<SelectListItem>)ViewBag.KeeperClass, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BOOK_KEEPER, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button> 
            </div>
            <div class="col-md-2 ">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="col-md-2 ">
                <button class="btnDelete btn btn-default" href="#">刪除</button>
                <input class="hidBookId" type="hidden" value='@ViewBag.TheUpdateBook.BOOK_ID' />
            </div>
        </div>
    </div>
}
<script>
        $(document).ready(function () {
            $('.btnDelete').click(function (e) {
                var value = $(this).next().val();
                //if (value === "No") {
                //    alert("已借出的書籍不可刪除!");
                //}
                //else
                //{
                    var choose = confirm("是否刪除 ? ");
                    if (choose == true) {
                        $.ajax({
                            type: "POST",
                            url: "/Book/DeleteBook",
                            data: "bookId=" + $(this).next().val(),
                            dataType: "json",
                            success: function (response) {
                                alert("刪除成功");
                            }, error: function (error) {
                                alert("系統發生錯誤");
                            }
                        });
                    }
                //}
                    $(location).attr('href', '/Book');
            });
        });

</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
